{:header "Collectd"
 :title "Install and configure collectd."
 :git-repo "https://github.com/pallet/collectd-crate"
 :api-docs "http://palletops.com/collectd-crate/0.8/api"
 :annotated-docs "http://palletops.com/collectd-crate/0.8/annotated/uberdoc.html"
 :versions [{:pallet "0.8.0-RC.4" :version "0.8.0-alpha.2"}]}
